---
const year = new Date().getFullYear();
---
<footer>
  <div class="wrap">
    <div class="flinks">
      <a href="https://github.com/Ahmed310">github</a>
      <a href="https://www.linkedin.com/in/mahmedmalik/">linkedin</a>
      <a href="https://eeprogrammer.wordpress.com/blog/">blog</a>
      <a href="mailto:m.ahmed310@hotmail.com">email</a>
    </div>
    <div class="copyright">© {year} Muhammad Ahmed</div>
  </div>
</footer>
