---
const year = new Date().getFullYear();
---
<footer>
  <div class="wrap">
    <div class="flinks">
      <a href="https://github.com/Ahmed310" data-track="social_click" data-track-label="github">github</a>
      <a href="https://www.linkedin.com/in/mahmedmalik/" data-track="social_click" data-track-label="linkedin">linkedin</a>
      <a href="https://eeprogrammer.wordpress.com/blog/" data-track="social_click" data-track-label="wordpress_blog">blog</a>
      <a href="mailto:m.ahmed310@hotmail.com" data-track="contact_click" data-track-label="email">email</a>
    </div>
    <div class="copyright">© {year} Muhammad Ahmed</div>
  </div>
</footer>
